doctype html

title MIRAI BASE 貸し切りサインメーカー
meta(name='robots' content='noindex')
link(rel='stylesheet' href='style.sass')

#sign
  h1 貸切利用中
  p#name
    span.editable(contenteditable='true') モホロビチッチ不連続面同好会
    span.uneditable 様
  p#time
    span.editable(contenteditable='true') 14:00
    span.uneditable 〜
    span.editable(contenteditable='true') 20:00
  #caution
    p 何か有りましたらお声がけください。

#howToUse
  h2 使い方
  h3 環境
  p Google Chromeを用いて使用してください。
  h3 編集
  p ブラウザ上で表示されている項目を直接編集できます。項目は、団体名（改行可）、開始時刻、終了時刻です。印刷プレビューを見ながら適宜調整してください。
  h3 印刷
  p ブラウザ上で設定をそのままに印刷してください。自動的にヘッダーとフッターの非表示、横長印刷が適用されます。なお、「使い方」は印刷されません。
  h3 何か有れば
  p 
    a(href='https://github.com/sKawashima/mb-doorSign') こちらのリポジトリ
    | にissue立てたりしてください。
  p.cp © 2018 sKawashima
