doctype html

title ドアサイン
meta(name='robots' content='noindex')
link(rel='stylesheet' href='style.sass')

#sign
  h1 貸切利用中
  p#name
    span.editable(contenteditable='true') モホロビチッチ不連続面同好会
    span.uneditable 様
  p#time
    span.editable(contenteditable='true') 14:00
    span.uneditable 〜
    span.editable(contenteditable='true') 20:00
  #caution
    p 何か有りましたらお声がけください。
